@import "compass/css3";

$var : white;
$pink: rgb(178, 17, 39);
$pink-dark: rgb(204, 71, 114);
$pink-darker: rgb(201, 48, 97);

$buttonWidth: 100px;


.button {
  height:42px;
  width:$buttonWidth;
  background-color:white;
  border: 2px solid $pink;
  padding-top: .5rem;
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 15;
}

.closer {
  @include opacity(.3);
}
.closeProject:hover .closer {
  @include opacity(.6);
}
.closer:before, .closer:after {
  position: absolute;
  right: 23px;
  top:-8px;
  content: ' ';
  height: 100%;
  width: 2px;
  background-color: #333;
}
.closer:before {
  transform: rotate(45deg);
}
.closer:after {
  transform: rotate(-45deg);
}


#main {
  height:100vh;
  width:100vw;
  font-family: "Roboto";
  overflow:hidden;

  & > .backgrounds {
    position: absolute;
    height:100%;
    width:100%;

    & .background {
      position: absolute;
      @include opacity(0);
      height:100%;
      width:100%;
      background-color: rgba(160,160,160,1);
      background-blend-mode: overlay;
      @include filter(blur(3px));
      background-size: cover;
      background-repeat: no-repeat;

      &.bg1 {
        background-image: url("../img/resized/MJPB.jpg");
      }

      &.bg2 {
        background-image: url("../img/resized/WB.jpg");
      }

      &.bg3 {
        background-image: url("../img/resized/DB.jpg");
      }

      &.bg4 {
        background-image: url("../img/resized/HSPB.jpg");
      }

      &.active {
        @include opacity(1);
        @include single-transition(.2s,ease);
      }

      &.leaving {
        @include single-transition(.1s,ease);
        @include opacity(0);
      }
    }
  }
}

#preview-box {
  display: block;
  position:relative;
  /*background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
  height:100%;
  width:100%;
  left:0;
  top:0;
  overflow:hidden;
  @include single-box-shadow(0px, 1px, 5px, 0px, rgba(100,100,100,.45));

  & .backgrounds {
    position: absolute;
    height:100%;
    width:100%;

    & .background {
      position: absolute;
      @include opacity(0);
      height:100%;
      width:100%;
      background-color: rgba(10,10,10,1);
      //background-blend-mode: luminosity;
      background-size: cover;
      background-repeat: no-repeat;

      &.bg1 {
        background-image: url("../img/resized/MJPB.jpg");
      }

      &.bg2 {
        background-image: url("../img/resized/WB.jpg");
      }

      &.bg3 {
        background-image: url("../img/resized/DB.jpg");
      }

      &.bg4 {
        background-image: url("../img/resized/HSPB.jpg");
      }

      &.active {
        @include opacity(1);
        @include single-transition(.1s,ease);
      }

      &.leaving {
        @include single-transition(.1s,ease);
        @include opacity(0);
      }
    }
  }

  & .backdrop {
    background-color: rgba(255,255,255,.9);
    visibility:visible;
    z-index: 0;
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
  }

  & .content {
    position:absolute;
    top:10px;
    width:100%;
    height:100%;
    padding-top:10vh;
    padding-left:10vw;
    padding-right:10vw;
    color:#666;
    @include opacity(0);

    &.active {
        @include opacity(1);
        @include single-transition(.5s,ease);
        top:0;
        left:0;
    }

    &.leaving {
      @include single-transition(.2s,ease-out);
      top:-10px;
    }

    & .itemNumber {
      font-family: "Raleway";
      font-style:italic;
      font-weight:200;
      font-size:6rem;
      color: $pink;
    }

    & .itemTitle {
      font-family: "Raleway";
      font-size:2.75rem;
      font-weight: 400;
      margin-top: .5rem;
    }

    & .tags {
      margin-top: 3.25rem;
      font-family: "Raleway";
      font-style: italic;
      font-size: 1.125rem;
      font-weight:300;
      color:$pink;

      & .tag {
        display:inline-block;

        &:after, &:before {
          content:"•";
          display: inline-block;
          padding:0 .125rem;
        }
        &:before {
          content: " ";
        }

        &:last-of-type:after {
          display:none;
        }
      }
    }
  }

  & .expandButton {
    position:absolute;
    bottom:6rem;
    left:10vw;//calc(50% - #{$buttonWidth}/2);
    //border-bottom:0px;
  }

  & .next, & .previous {
    position: absolute;
    bottom: 0px;

  }

  & .next {
    //border-right:0px;
    right:10vw;//calc(-#{$buttonWidth}/6);
  }

  & .previous {
    left:10vw;//calc(-#{$buttonWidth}/6);
    //border-left:0px;
  }
}

.expand-content {
  position:absolute;
  z-index: 20;
  background:white;
  height:100%;
  width:100vw;
  top:0;
  left:-100vw;
  @include opacity(0);
  @include transition(opacity .25s ease-out);

  &.open {
    @include opacity(1);
    left:0;
    display:initial;

    & .returnContainer{
      left:0;

      & .closeProject{
        right:0;
        margin-right:10vw;
        margin-top:2rem;

        &:hover {
          cursor:pointer;
        }
      }
    }
  }

  &.leaving {
    @include opacity(0);
    @include transition(opacity .5s ease .5s);
  }

  & .returnContainer {
    position:fixed;
    top:0;
    left:-100vw;
    width:100vw;
    height:6rem;
    background-color:rgba(255,255,255,.5);
    z-index: 25;

    & .closeProject {
      position:fixed;
      top:0;
      right:-100vw;
      height:4rem;
      width:4rem;
      //background-color:#999;
      cursor: pointer;
      z-index: 26;
    }
  }

  & .project {
    position:absolute;
    background:white;
    width:100vw;
    top:15px;
    left:-100vw;
    font-family: "Raleway";
    padding:0 10vw;
    padding-top: 6rem;
    @include opacity(0);
    @include transition(opacity .5s ease-out .5s, top .5s ease-out .5s);

    &.gone {
      display:none;
    }

    &.open {
      @include opacity(1);
      left:0;
      top:0;
      display:initial;
    }

    &.leaving {
      @include opacity(0);
      @include transition(opacity .5s ease-out, top .5s ease-out);
      top:15px;

    }

    & .itemTitle {
      font-size:2.85rem;
      color:#666;
      margin-bottom:2.5rem;
    }

    & .information {

      & section {
        margin-bottom:2.5rem;
        text-align: center;

        & h4 {
          font-size:1.35rem;
          font-family: "Roboto";
          font-weight: 300;
          color:$pink;
          margin-bottom:.5rem;
          text-align: left;
        }

        & p {
          font-size: .85rem;
          color:#666;
          line-height: 1.35em;
          text-align: left;
        }

        & img {
          max-width:calc(100vw - 20vw);
          display:inline-block;
          @include single-box-shadow(0px, 1px, 5px, 0px, rgba(100,100,100,.45));
        }
      }
    }
  }
}

@media screen and (min-width: 480px) {
  #preview-box {
    & .content {
      padding-top: 10vh;
    }
  }

}

$boxHeight: 340px;
$buttonWidth: 75px;
$buttonHeight: 36px;
$buttonLowerPosition: 17rem;
$buttonPosition: calc(#{$buttonLowerPosition} - #{$buttonHeight} * 1.75);

@media screen and (min-width: 760px) {

  .button {
    height:$buttonHeight;
    width:$buttonWidth;
    font-size: 1.2rem;
    @include single-box-shadow(-1px, 1px, 5px, 0px, rgba(120,120,120,.5));
  }

  .expand-content {

    & .returnContainer{

      & .closeProject {
          margin-right: calc(10vw);
          margin-top:4rem;
      }
    }
  }

  #preview-box {
    height:$boxHeight;
    width:80vw;
    top:calc((100vh - #{$boxHeight})/2);
    left:10vw;

    & .backdrop {
      background-color:white;
      background-image: initial;
      visibility:visible;
      width:50%;
      z-index: 5;
    }

    & .content {
      z-index: 10;
      background: initial;
      width:50%;
      padding-left:2rem;
      padding-right:2rem;
      padding-top:4rem;

      & .itemNumber {
        font-size:2.35rem;
      }

      & .itemTitle {
        font-size: 1.8rem;
      }

      & .tags {
        position:absolute;
        top: $buttonLowerPosition;
        font-size:.8rem;
        margin-top:0;
        padding-right:2rem;
      }
    }

    & .expandButton {
      position:absolute;;
      top:$buttonPosition;
      left:2rem;
      border-bottom: 2px solid $pink;
    }

    & .next, & .previous {
      left: calc(50% - #{$buttonWidth}/2);
      right:initial;
    }

    & .next {
      border-right: 2px solid $pink;
      bottom: initial;
      top:$buttonPosition;
    }

    & .previous {
      border-left: 2px solid $pink;
      bottom: initial;
      top:$buttonLowerPosition;
    }
  }
}

$boxHeight: 385px;
$buttonWidth: 75px;
$buttonHeight: 36px;
$buttonLowerPosition: 19.5rem;
$buttonPosition: calc(#{$buttonLowerPosition} - #{$buttonHeight} * 1.75);
@media screen and (min-width: 965px) and (min-height:550px){
  .button {
  }

  #preview-box {
    height:$boxHeight;
    width:80vw;
    top:calc((100vh - #{$boxHeight})/2);
    left:10vw;

    & .content {
      padding-right:3rem;

      & .itemNumber {
        font-size:4rem
      }

      & .itemTitle {
        font-size: 2.35rem;
      }

      & .tags {
        top:$buttonLowerPosition;
        padding-right:3rem;
      }
    }

    & .expandButton {
      top:$buttonPosition;
    }

    & .next, & .previous {
    }

    & .next {
      top:$buttonPosition;
    }

    & .previous {
      top:$buttonLowerPosition;
    }
  }
}

@media screen and (min-width: 1250px) {
  #preview-box {
    height:415px;
    width:962.5px;
    left:calc(50vw - 962.5px / 2);
  }
  .expand-content {

    & .returnContainer{

      & .closeProject {
          //padding-right: calc(50vw - 500px);
      }
    }

    & .project {
      padding-left: calc(50vw - 500px);
      padding-right: calc(50vw - 500px);

      & .information {

        & section {

          & .img {

          }
        }
      }
    }
  }
}
