@charset "UTF-8";
/* line 11, ../scss/main.scss */
.button {
  height: 42px;
  width: 100px;
  background-color: white;
  border: 2px solid #cb6586;
  padding-top: .5rem;
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 50;
}

/* line 26, ../scss/main.scss */
#main {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  overflow: hidden;
}
/* line 32, ../scss/main.scss */
#main > .backgrounds {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 37, ../scss/main.scss */
#main > .backgrounds .background {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #a0a0a0;
  background-blend-mode: overlay;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 48, ../scss/main.scss */
#main > .backgrounds .background.bg1 {
  background-image: url("../img/bg1.jpg");
}
/* line 52, ../scss/main.scss */
#main > .backgrounds .background.bg2 {
  background-image: url("../img/bg2.jpg");
}
/* line 56, ../scss/main.scss */
#main > .backgrounds .background.bg3 {
  background-image: url("../img/bg3.jpg");
}
/* line 60, ../scss/main.scss */
#main > .backgrounds .background.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
/* line 65, ../scss/main.scss */
#main > .backgrounds .background.leaving {
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 73, ../scss/main.scss */
#preview-box {
  display: block;
  position: relative;
  /*background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -moz-box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
  box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
}
/* line 86, ../scss/main.scss */
#preview-box .backgrounds {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 91, ../scss/main.scss */
#preview-box .backgrounds .background {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 101, ../scss/main.scss */
#preview-box .backgrounds .background.bg1 {
  background-image: url("../img/bg1.jpg");
}
/* line 105, ../scss/main.scss */
#preview-box .backgrounds .background.bg2 {
  background-image: url("../img/bg2.jpg");
}
/* line 109, ../scss/main.scss */
#preview-box .backgrounds .background.bg3 {
  background-image: url("../img/bg3.jpg");
}
/* line 113, ../scss/main.scss */
#preview-box .backgrounds .background.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}
/* line 118, ../scss/main.scss */
#preview-box .backgrounds .background.leaving {
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 125, ../scss/main.scss */
#preview-box .backdrop {
  background-color: rgba(255, 255, 255, 0.9);
  visibility: visible;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 136, ../scss/main.scss */
#preview-box .content {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #666;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 147, ../scss/main.scss */
#preview-box .content.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 0;
  left: 0;
}
/* line 154, ../scss/main.scss */
#preview-box .content.leaving {
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  top: -10px;
}
/* line 159, ../scss/main.scss */
#preview-box .content .itemNumber {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 200;
  font-size: 6rem;
  color: #cb6586;
}
/* line 167, ../scss/main.scss */
#preview-box .content .itemTitle {
  font-family: "Raleway";
  font-size: 2.75rem;
  font-weight: 400;
  margin-top: .5rem;
}
/* line 174, ../scss/main.scss */
#preview-box .content .tags {
  margin-top: 3.25rem;
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 300;
  color: #cb6586;
}
/* line 182, ../scss/main.scss */
#preview-box .content .tags .tag {
  display: inline-block;
}
/* line 185, ../scss/main.scss */
#preview-box .content .tags .tag:after, #preview-box .content .tags .tag:before {
  content: "•";
  display: inline-block;
  padding: 0 .125rem;
}
/* line 190, ../scss/main.scss */
#preview-box .content .tags .tag:before {
  content: " ";
}
/* line 194, ../scss/main.scss */
#preview-box .content .tags .tag:last-of-type:after {
  display: none;
}
/* line 201, ../scss/main.scss */
#preview-box .expandButton {
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px/2);
  border-bottom: 0px;
}
/* line 208, ../scss/main.scss */
#preview-box .next, #preview-box .previous {
  position: absolute;
  bottom: 100px;
}
/* line 214, ../scss/main.scss */
#preview-box .next {
  border-right: 0px;
  right: calc(-100px/6);
}
/* line 219, ../scss/main.scss */
#preview-box .previous {
  left: calc(-100px/6);
  border-left: 0px;
}

@media screen and (min-width: 480px) {
  /* line 227, ../scss/main.scss */
  #preview-box .content {
    padding-top: 10vh;
  }
}
@media screen and (min-width: 760px) {
  /* line 242, ../scss/main.scss */
  .button {
    height: 36px;
    width: 75px;
    font-size: 1.2rem;
    -moz-box-shadow: -1px 1px 5px 0px rgba(120, 120, 120, 0.5);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(120, 120, 120, 0.5);
    box-shadow: -1px 1px 5px 0px rgba(120, 120, 120, 0.5);
  }

  /* line 249, ../scss/main.scss */
  #preview-box {
    height: 340px;
    width: 80vw;
    top: calc((100vh - 340px)/2);
    left: 10vw;
  }
  /* line 255, ../scss/main.scss */
  #preview-box .backdrop {
    background-color: white;
    background-image: initial;
    visibility: visible;
    width: 50%;
    z-index: 5;
  }
  /* line 263, ../scss/main.scss */
  #preview-box .content {
    z-index: 10;
    background: initial;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
  }
  /* line 271, ../scss/main.scss */
  #preview-box .content .itemNumber {
    font-size: 2.35rem;
  }
  /* line 275, ../scss/main.scss */
  #preview-box .content .itemTitle {
    font-size: 1.8rem;
  }
  /* line 279, ../scss/main.scss */
  #preview-box .content .tags {
    position: absolute;
    top: 17rem;
    font-size: .8rem;
    margin-top: 0;
  }
  /* line 287, ../scss/main.scss */
  #preview-box .expandButton {
    position: absolute;
    top: calc(17rem - 36px * 1.75);
    left: 2rem;
    border-bottom: 2px solid #cb6586;
  }
  /* line 294, ../scss/main.scss */
  #preview-box .next, #preview-box .previous {
    left: calc(50% - 75px/2);
    right: initial;
  }
  /* line 299, ../scss/main.scss */
  #preview-box .next {
    border-right: 2px solid #cb6586;
    bottom: initial;
    top: calc(17rem - 36px * 1.75);
  }
  /* line 305, ../scss/main.scss */
  #preview-box .previous {
    border-left: 2px solid #cb6586;
    bottom: initial;
    top: 17rem;
  }
}
@media screen and (min-width: 965px) and (min-height: 550px) {
  /* line 323, ../scss/main.scss */
  #preview-box {
    height: 385px;
    width: 80vw;
    top: calc((100vh - 385px)/2);
    left: 10vw;
  }
  /* line 329, ../scss/main.scss */
  #preview-box .content {
    padding-right: 3rem;
  }
  /* line 332, ../scss/main.scss */
  #preview-box .content .itemNumber {
    font-size: 4rem;
  }
  /* line 336, ../scss/main.scss */
  #preview-box .content .itemTitle {
    font-size: 2.35rem;
  }
  /* line 340, ../scss/main.scss */
  #preview-box .content .tags {
    top: 19.5rem;
    padding-right: 3rem;
  }
  /* line 346, ../scss/main.scss */
  #preview-box .expandButton {
    top: calc(19.5rem - 36px * 1.75);
  }
  /* line 353, ../scss/main.scss */
  #preview-box .next {
    top: calc(19.5rem - 36px * 1.75);
  }
  /* line 357, ../scss/main.scss */
  #preview-box .previous {
    top: 19.5rem;
  }
}
@media screen and (min-width: 1280px) {
  /* line 364, ../scss/main.scss */
  #preview-box {
    height: 415px;
    width: 962.5px;
    left: calc(50vw - 962.5px / 2);
  }
}
