@charset "UTF-8";
/* line 10, ../scss/main.scss */
.button {
  height: 42px;
  width: 100px;
  background-color: white;
  border: 2px solid #b21127;
  padding-top: .5rem;
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 15;
}

/* line 25, ../scss/main.scss */
.closer {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 28, ../scss/main.scss */
.closeProject:hover .closer {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

/* line 31, ../scss/main.scss */
.closer:before, .closer:after {
  position: absolute;
  right: 23px;
  top: -8px;
  content: ' ';
  height: 100%;
  width: 2px;
  background-color: #333;
}

/* line 40, ../scss/main.scss */
.closer:before {
  transform: rotate(45deg);
}

/* line 43, ../scss/main.scss */
.closer:after {
  transform: rotate(-45deg);
}

/* line 48, ../scss/main.scss */
#main {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto";
  overflow: hidden;
}
/* line 54, ../scss/main.scss */
#main > .backgrounds {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 59, ../scss/main.scss */
#main > .backgrounds .background {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #a0a0a0;
  background-blend-mode: overlay;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 70, ../scss/main.scss */
#main > .backgrounds .background.bg1 {
  background-image: url("../img/resized/MJPB.jpg");
}
/* line 74, ../scss/main.scss */
#main > .backgrounds .background.bg2 {
  background-image: url("../img/resized/WB.jpg");
}
/* line 78, ../scss/main.scss */
#main > .backgrounds .background.bg3 {
  background-image: url("../img/resized/DB.jpg");
}
/* line 82, ../scss/main.scss */
#main > .backgrounds .background.bg4 {
  background-image: url("../img/resized/HSPB.jpg");
}
/* line 86, ../scss/main.scss */
#main > .backgrounds .background.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
/* line 91, ../scss/main.scss */
#main > .backgrounds .background.leaving {
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 99, ../scss/main.scss */
#preview-box {
  display: block;
  position: relative;
  /*background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -moz-box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
  box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
}
/* line 112, ../scss/main.scss */
#preview-box .backgrounds {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 117, ../scss/main.scss */
#preview-box .backgrounds .background {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: #0a0a0a;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 127, ../scss/main.scss */
#preview-box .backgrounds .background.bg1 {
  background-image: url("../img/resized/MJPB.jpg");
}
/* line 131, ../scss/main.scss */
#preview-box .backgrounds .background.bg2 {
  background-image: url("../img/resized/WB.jpg");
}
/* line 135, ../scss/main.scss */
#preview-box .backgrounds .background.bg3 {
  background-image: url("../img/resized/DB.jpg");
}
/* line 139, ../scss/main.scss */
#preview-box .backgrounds .background.bg4 {
  background-image: url("../img/resized/HSPB.jpg");
}
/* line 143, ../scss/main.scss */
#preview-box .backgrounds .background.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}
/* line 148, ../scss/main.scss */
#preview-box .backgrounds .background.leaving {
  -moz-transition: ease 0.1s;
  -o-transition: ease 0.1s;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 155, ../scss/main.scss */
#preview-box .backdrop {
  background-color: rgba(255, 255, 255, 0.9);
  visibility: visible;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 166, ../scss/main.scss */
#preview-box .content {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #666;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 177, ../scss/main.scss */
#preview-box .content.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  top: 0;
  left: 0;
}
/* line 184, ../scss/main.scss */
#preview-box .content.leaving {
  -moz-transition: ease-out 0.2s;
  -o-transition: ease-out 0.2s;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
  top: -10px;
}
/* line 189, ../scss/main.scss */
#preview-box .content .itemNumber {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 200;
  font-size: 6rem;
  color: #b21127;
}
/* line 197, ../scss/main.scss */
#preview-box .content .itemTitle {
  font-family: "Raleway";
  font-size: 2.75rem;
  font-weight: 400;
  margin-top: .5rem;
}
/* line 204, ../scss/main.scss */
#preview-box .content .tags {
  margin-top: 3.25rem;
  font-family: "Raleway";
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 300;
  color: #b21127;
}
/* line 212, ../scss/main.scss */
#preview-box .content .tags .tag {
  display: inline-block;
}
/* line 215, ../scss/main.scss */
#preview-box .content .tags .tag:after, #preview-box .content .tags .tag:before {
  content: "•";
  display: inline-block;
  padding: 0 .125rem;
}
/* line 220, ../scss/main.scss */
#preview-box .content .tags .tag:before {
  content: " ";
}
/* line 224, ../scss/main.scss */
#preview-box .content .tags .tag:last-of-type:after {
  display: none;
}
/* line 231, ../scss/main.scss */
#preview-box .expandButton {
  position: absolute;
  bottom: 6rem;
  left: 10vw;
}
/* line 238, ../scss/main.scss */
#preview-box .next, #preview-box .previous {
  position: absolute;
  bottom: 0px;
}
/* line 244, ../scss/main.scss */
#preview-box .next {
  right: 10vw;
}
/* line 249, ../scss/main.scss */
#preview-box .previous {
  left: 10vw;
}

/* line 255, ../scss/main.scss */
.expand-content {
  position: absolute;
  z-index: 20;
  background: white;
  height: 100%;
  width: 100vw;
  top: 0;
  left: -100vw;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
/* line 266, ../scss/main.scss */
.expand-content.open {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  left: 0;
  display: initial;
}
/* line 271, ../scss/main.scss */
.expand-content.open .returnContainer {
  left: 0;
}
/* line 274, ../scss/main.scss */
.expand-content.open .returnContainer .closeProject {
  right: 0;
  margin-right: 10vw;
  margin-top: 2rem;
}
/* line 279, ../scss/main.scss */
.expand-content.open .returnContainer .closeProject:hover {
  cursor: pointer;
}
/* line 286, ../scss/main.scss */
.expand-content.leaving {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.5s ease 0.5s;
  -o-transition: opacity 0.5s ease 0.5s;
  -webkit-transition: opacity 0.5s ease;
  -webkit-transition-delay: 0.5s;
  transition: opacity 0.5s ease 0.5s;
}
/* line 291, ../scss/main.scss */
.expand-content .returnContainer {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 25;
}
/* line 300, ../scss/main.scss */
.expand-content .returnContainer .closeProject {
  position: fixed;
  top: 0;
  right: -100vw;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  z-index: 26;
}
/* line 312, ../scss/main.scss */
.expand-content .project {
  position: absolute;
  background: white;
  width: 100vw;
  top: 15px;
  left: -100vw;
  font-family: "Raleway";
  padding: 0 10vw;
  padding-top: 6rem;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.5s ease-out 0.5s, top 0.5s ease-out 0.5s;
  -o-transition: opacity 0.5s ease-out 0.5s, top 0.5s ease-out 0.5s;
  -webkit-transition: opacity 0.5s ease-out, top 0.5s ease-out;
  -webkit-transition-delay: 0.5s, 0.5s;
  transition: opacity 0.5s ease-out 0.5s, top 0.5s ease-out 0.5s;
}
/* line 324, ../scss/main.scss */
.expand-content .project.gone {
  display: none;
}
/* line 328, ../scss/main.scss */
.expand-content .project.open {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  left: 0;
  top: 0;
  display: initial;
}
/* line 335, ../scss/main.scss */
.expand-content .project.leaving {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.5s ease-out, top 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out, top 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out, top 0.5s ease-out;
  transition: opacity 0.5s ease-out, top 0.5s ease-out;
  top: 15px;
}
/* line 342, ../scss/main.scss */
.expand-content .project .itemTitle {
  font-size: 2.85rem;
  color: #666;
  margin-bottom: 2.5rem;
}
/* line 350, ../scss/main.scss */
.expand-content .project .information section {
  margin-bottom: 2.5rem;
  text-align: center;
}
/* line 354, ../scss/main.scss */
.expand-content .project .information section h4 {
  font-size: 1.35rem;
  font-family: "Roboto";
  font-weight: 300;
  color: #b21127;
  margin-bottom: .5rem;
  text-align: left;
}
/* line 363, ../scss/main.scss */
.expand-content .project .information section p {
  font-size: .85rem;
  color: #666;
  line-height: 1.35em;
  text-align: left;
}
/* line 370, ../scss/main.scss */
.expand-content .project .information section img {
  max-width: calc(100vw - 20vw);
  display: inline-block;
  -moz-box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
  box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.45);
}

@media screen and (min-width: 760px) {
  /* line 397, ../scss/main.scss */
  .button {
    height: 36px;
    width: 75px;
    font-size: 1.2rem;
    -moz-box-shadow: -1px 1px 5px 0px rgba(120, 120, 120, 0.5);
    -webkit-box-shadow: -1px 1px 5px 0px rgba(120, 120, 120, 0.5);
    box-shadow: -1px 1px 5px 0px rgba(120, 120, 120, 0.5);
  }

  /* line 408, ../scss/main.scss */
  .expand-content .returnContainer .closeProject {
    margin-right: calc(10vw);
    margin-top: 4rem;
  }

  /* line 415, ../scss/main.scss */
  #preview-box {
    height: 340px;
    width: 80vw;
    top: calc((100vh - 340px)/2);
    left: 10vw;
  }
  /* line 421, ../scss/main.scss */
  #preview-box .backdrop {
    background-color: white;
    background-image: initial;
    visibility: visible;
    width: 50%;
    z-index: 5;
  }
  /* line 429, ../scss/main.scss */
  #preview-box .content {
    z-index: 10;
    background: initial;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
  }
  /* line 437, ../scss/main.scss */
  #preview-box .content .itemNumber {
    font-size: 2.35rem;
  }
  /* line 441, ../scss/main.scss */
  #preview-box .content .itemTitle {
    font-size: 1.8rem;
  }
  /* line 445, ../scss/main.scss */
  #preview-box .content .tags {
    position: absolute;
    top: 17rem;
    font-size: .8rem;
    margin-top: 0;
    padding-right: 2rem;
  }
  /* line 454, ../scss/main.scss */
  #preview-box .expandButton {
    position: absolute;
    top: calc(17rem - 36px * 1.75);
    left: 2rem;
    border-bottom: 2px solid #b21127;
  }
  /* line 461, ../scss/main.scss */
  #preview-box .next, #preview-box .previous {
    left: calc(50% - 75px/2);
    right: initial;
  }
  /* line 466, ../scss/main.scss */
  #preview-box .next {
    border-right: 2px solid #b21127;
    bottom: initial;
    top: calc(17rem - 36px * 1.75);
  }
  /* line 472, ../scss/main.scss */
  #preview-box .previous {
    border-left: 2px solid #b21127;
    bottom: initial;
    top: 17rem;
  }
}
@media screen and (min-width: 965px) and (min-height: 550px) {
  /* line 489, ../scss/main.scss */
  #preview-box {
    height: 385px;
    width: 80vw;
    top: calc((100vh - 385px)/2);
    left: 10vw;
  }
  /* line 495, ../scss/main.scss */
  #preview-box .content {
    padding-right: 3rem;
  }
  /* line 498, ../scss/main.scss */
  #preview-box .content .itemNumber {
    font-size: 4rem;
  }
  /* line 502, ../scss/main.scss */
  #preview-box .content .itemTitle {
    font-size: 2.35rem;
  }
  /* line 506, ../scss/main.scss */
  #preview-box .content .tags {
    top: 19.5rem;
    padding-right: 3rem;
  }
  /* line 512, ../scss/main.scss */
  #preview-box .expandButton {
    top: calc(19.5rem - 36px * 1.75);
  }
  /* line 519, ../scss/main.scss */
  #preview-box .next {
    top: calc(19.5rem - 36px * 1.75);
  }
  /* line 523, ../scss/main.scss */
  #preview-box .previous {
    top: 19.5rem;
  }
}
@media screen and (min-width: 1250px) {
  /* line 530, ../scss/main.scss */
  #preview-box {
    height: 415px;
    width: 962.5px;
    left: calc(50vw - 962.5px / 2);
  }

  /* line 544, ../scss/main.scss */
  .expand-content .project {
    padding-left: calc(50vw - 500px);
    padding-right: calc(50vw - 500px);
  }
}
